In [77]:
import pandas as pd

In [78]:
tour19 = pd.read_csv("20240109005451_인기관광지_전체.csv", encoding="CP949")

In [79]:
tour19.head()

   순위       관광지명                 주소    분류  Unnamed: 4
0   1  김포국제공항국내선   서울 강서구 하늘길 111-0  교통시설      873143
1   2        코엑스  서울 강남구 영동대로 513-0  전시시설      579472
2   3     김포국제공항   서울 강서구 하늘길 112-0  교통시설      550662
3   4     SRT수서역   서울 강남구 밤고개로 99-0  교통시설      528391
4   5        서울역  서울 용산구 한강대로 405-0  교통시설      458053

In [80]:
tour19.columns

Index(['순위', '관광지명', '주소', '분류', 'Unnamed: 4'], dtype='object')

In [81]:
tour19.rename(columns={'Unnamed: 4':'방문자'}, inplace=True)
tour19.head()

   순위       관광지명                 주소    분류     방문자
0   1  김포국제공항국내선   서울 강서구 하늘길 111-0  교통시설  873143
1   2        코엑스  서울 강남구 영동대로 513-0  전시시설  579472
2   3     김포국제공항   서울 강서구 하늘길 112-0  교통시설  550662
3   4     SRT수서역   서울 강남구 밤고개로 99-0  교통시설  528391
4   5        서울역  서울 용산구 한강대로 405-0  교통시설  458053

In [82]:
tour19_addr = tour19["주소"]

In [83]:
addr_lst = []
tour19_addr_lst= []

In [84]:
# 첫 번째, 두 번째 어절만 가지고 와야 함
# 그러려면 먼저 어절 단위로 쪼개야 하고, 그걸 위해서는 split()을 사용해야 함
# 그러나 현재는 series 형태
# 리스트를 사용해서 "구"만 뽑아내기

In [85]:
for i in range(len(tour19_addr)):
    tour19_addr_lst.append(tour19_addr[i].split()[1])


len(tour19_addr_lst)

100

In [86]:
tour19["주소"] = tour19_addr_lst

In [87]:
tour19_df = tour19[['관광지명', '주소', '방문자']]

In [88]:
tour19_df.head()

        관광지명   주소     방문자
0  김포국제공항국내선  강서구  873143
1        코엑스  강남구  579472
2     김포국제공항  강서구  550662
3     SRT수서역  강남구  528391
4        서울역  용산구  458053

In [94]:
#행정구별 총방문자수
tour19_addr_total = tour19_df.groupby('주소')[['방문자']].sum()
tour19_addr_total#.sort_values(by="방문자", ascending=False)

          방문자
주소
강남구   2370215
강동구    142930
강북구    159446
강서구   2391779
관악구     88898
광진구    879811
구로구     74499
금천구    311137
노원구    230360
동대문구   210467
동작구    309596
마포구    475705
서대문구   258673
서초구   1902508
성동구    137230
성북구    110492
송파구   1750836
양천구    291892
영등포구  1369449
용산구   1538807
은평구    223331
종로구    330256
중구    1607809

In [95]:
#서울 평균 방문자수
tour19_addr_mean = tour19_df.groupby('주소')[['방문자']].mean()
tour19_addr_mean

                방문자
주소
강남구   197517.916667
강동구   142930.000000
강북구    79723.000000
강서구   341682.714286
관악구    88898.000000
광진구   219952.750000
구로구    74499.000000
금천구   103712.333333
노원구   115180.000000
동대문구  105233.500000
동작구   309596.000000
마포구    95141.000000
서대문구  129336.500000
서초구   158542.333333
성동구   137230.000000
성북구   110492.000000
송파구   175083.600000
양천구   291892.000000
영등포구  228241.500000
용산구   170978.555556
은평구   111665.500000
종로구   110085.333333
중구    133984.083333